<style>
  .btn-search{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 999px; /* Full rounded */
    padding: 0.3rem 0.6rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem ;
    font-size: 1rem;
  }
  /* Mobile (max-width: 576px) */
@media (max-width: 576px) {
  .btn-search {
    padding: 0.2rem 0.5rem;
    font-size: 0.85rem;
  }
  .btn-search i {
    margin-right: 0.3rem;
    font-size: 0.9rem;
  }
  .search-inp {
    padding: 0.4rem 1rem;
    font-size: 0.85rem;
    width: 100%;
  }
  .navbar-nav.ms-auto[role="search"] {
    margin-top: 0.5rem;
    width: 100%;
  }
  .navbar-nav.ms-auto:last-child {
    flex-direction: column;
    width: 100%;
  }
  .navbar-nav.ms-auto:last-child .nav-link {
    padding: 0.4rem 0;
    text-align: center;
  }
}

/* Tablet (576px to 768px) */
@media (min-width: 576px) and (max-width: 768px) {
  .search-inp {
    padding: 0.4rem 2rem;
    font-size: 0.9rem;
  }
  .btn-search {
    font-size: 0.9rem;
  }
}

/* Small laptops (768px to 992px) */
@media (min-width: 768px) and (max-width: 992px) {
  .search-inp {
    width: 250px;
  }
}


</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"  >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-link" href="/listings">Explore</a>
       
      </div>
      <div class="navbar-nav ms-auto" role="search">
        <form class="d-flex">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations" >
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
         <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currentUser) { %>
        <a class="nav-link"  href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(currentUser) { %>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>